In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [5]:
# Read .csv file
purchases_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Estimated_Purchases.csv")
purchases_df.head(5)

   ESTIMATED_PURCHASES
0            25.669994
1            13.755650
2            24.586235
3            11.486823
4            31.717091

In [6]:
# Read .csv file
main_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Main_Category.csv")
main_df.head(5)

  SUB_CATEGORY
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [7]:
# Read .csv file
month_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Month.csv")
month_df.head(5)

   MONTH
0      1
1      1
2      1
3      1
4      1

In [8]:
# Read .csv file
subcat_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Sub_Category.csv")
subcat_df.head(5)

  MAIN_CATEGORY
0        Target
1        Target
2        Target
3        Target
4        Target