In [6]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [8]:
# Read .csv file
purchases_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Estimated_Purchases.csv")
purchases_df.head(5)

   ESTIMATED_PURCHASES
0            25.669994
1            13.755650
2            24.586235
3            11.486823
4            31.717091

In [9]:
# Read .csv file
main_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Main_Category.csv")
main_df.head(5)

  SUB_CATEGORY
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

In [10]:
# Read .csv file
month_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Month.csv")
month_df.head(5)

   MONTH
0      1
1      1
2      1
3      1
4      1

In [11]:
# Read .csv file
subcat_df = pd.read_csv(r"C:\Users\jimmy\OneDrive\Desktop\Project 3\Super_Shopper\CSVs\Sub_Category.csv")
subcat_df.tail(5)

#entry number/index number

                      MAIN_CATEGORY
32060674  Clothing, Shoes & Jewelry
32060675  Clothing, Shoes & Jewelry
32060676  Clothing, Shoes & Jewelry
32060677  Clothing, Shoes & Jewelry
32060678  Clothing, Shoes & Jewelry

In [13]:
combined_df = pd.concat([purchases_df, main_df, month_df, subcat_df], axis=1)
print(combined_df.head(5))

   ESTIMATED_PURCHASES SUB_CATEGORY  MONTH MAIN_CATEGORY
0            25.669994          NaN      1        Target
1            13.755650          NaN      1        Target
2            24.586235          NaN      1        Target
3            11.486823          NaN      1        Target
4            31.717091          NaN      1        Target